name: Jekyll site CI/CD

on:
  push:
    branches: [ "main" ] # ou "master"
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
        jekyll/builder:latest /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build --future"
    - name: Upload artifact # <-- NOVO PASSO ADICIONADO AQUI
      uses: actions/upload-pages-artifact@v4 # Use a ação oficial para Pages
      with:
        path: './_site' # O caminho onde o Jekyll gerou o site   
  deploy:
    # Define as permissões para o GITHUB_TOKEN para permitir o deploy no GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
